<?xml version="1.0"?>
<model>
  <name>TurtleBot3 School Maze</name>
  <version>1.0.0</version>

  <sdf version="1.9">sdf/school_maze.sdf</sdf>

  <author>
    <name>Iván Darío Orozco Ibáñez</name>
  </author>

  <description>
    Static 16x6 black-wall maze for TurtleBot3 demonstrations.
    Cell size is 0.50 m.
  </description>
</model>
